<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="arp.camera" android:versionCode="1" android:versionName="1.0">
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-feature android:glEsVersion="0x00020000" android:required="true" />
  <uses-feature android:name="android.hardware.camera2" android:required="true" />
  <uses-feature android:name="android.hardware.camera" android:required="true" />
  <uses-feature android:name="android.hardware.camera.autofocus" android:required="true" />
  <application android:label="@string/app_name">
    <activity android:name="arp.camera.CameraPluginActivity" android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen" android:label="@string/app_name" android:screenOrientation="landscape">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>